@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primaryColor: rgb(67, 172, 121);
    --redColor: rgb(255, 87, 87);
    --primaryFont: 'Indie Flower';
    --secondaryFont: 'Handlee';
    font-size: 10px;
}

html,
body {
    background-image: -webkit-linear-gradient(315deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    background-image: -o-linear-gradient(315deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--secondaryFont);
    height: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 70vw;
    max-width: 700px;
    min-width: 550px;
    min-height: 800px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px 20px 5px 5px;
    -webkit-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, .4);
    box-shadow: 4px 4px 18px 3px rgba(0, 0, 0, .4);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

/* HEADER  */

header {
    position: relative;
}

img.drawing-pin {
    position: absolute;
    right: -10px;
    top: -10px;
    opacity: 0.8;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

img.drawing-pin.animate {
    -webkit-animation: drawingPinAnimation 1s;
    animation: drawingPinAnimation 1s;
}

@-webkit-keyframes drawingPinAnimation {
    10% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    20% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    30% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    60% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    80% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes drawingPinAnimation {
    10% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    20% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

    30% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }

    60% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }

    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    80% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

i.new-task {
    position: absolute;
    left: 20px;
    top: 23%;
    font-size: 3.5rem;
    opacity: .6;
    color: var(--primaryColor);
    cursor: pointer;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    /* animation: btnShocking 2s infinite; */
}

i.new-task.animated {
    animation: btnShocking 2s reverse infinite;
}

@-webkit-keyframes btnShocking {
    0% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    16.66% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }

    33.33% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    50% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    66.66% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    83.33% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }

    100% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
}

@keyframes btnShocking {
    0% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    16.66% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }

    33.33% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    50% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    66.66% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    83.33% {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }

    100% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
}

i.new-task:hover {
    opacity: 1;
}

i.new-task.cancel-task {
    color: var(--redColor);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: opacity .5s, color .5s, -webkit-transform .5s .5s;
    transition: opacity .5s, color .5s, -webkit-transform .5s .5s;
    -o-transition: transform .5s .5s, opacity .5s, color .5s;
    transition: transform .5s .5s, opacity .5s, color .5s;
    transition: transform .5s .5s, opacity .5s, color .5s, -webkit-transform .5s .5s;
}

.container h1 {
    text-align: center;
    font-family: var(--primaryFont);
    font-size: 5rem;
    color: var(--primaryColor);
    opacity: 1;
    -webkit-transition: opacity .5s .6s;
    -o-transition: opacity .5s .6s;
    transition: opacity .5s .6s;
    cursor: default;
}

.container h1.fade-out {
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

/* NEW TASK SECTION */

.new-task-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 73px;
    right: 8%;
    top: 14%;
    font-size: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.new-task-form.shown {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: all;
    -webkit-transition: -webkit-transform .5s .5s;
    transition: -webkit-transform .5s .5s;
    -o-transition: transform .5s .5s;
    transition: transform .5s .5s;
    transition: transform .5s .5s, -webkit-transform .5s .5s;
}

.new-task-form>*:not(.validate-msg) {
    font-size: 2.2rem;
    margin: 0;
    font-family: var(--primaryFont);
    color: var(--primaryColor);
    outline: none;
    background: none;
    border: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    opacity: .7;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}

.new-task-form:hover>*,
.new-task-form>input:focus,
.new-task-form>input:focus+button {
    opacity: 1;
}

.new-task-form>input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 2px 20px 0px 5px;
}

.new-task-form>input::-webkit-input-placeholder {
    color: var(--primaryColor);
}

.new-task-form>input:-ms-input-placeholder {
    color: var(--primaryColor);
}

.new-task-form>input::-ms-input-placeholder {
    color: var(--primaryColor);
}

.new-task-form>input::placeholder {
    color: var(--primaryColor);
}

.new-task-form>button {
    padding: 10px 10px 2px 10px;
    font-weight: bold;
    border-bottom-color: var(--primaryColor);
    cursor: pointer;
}

.new-task-form>button:hover {
    background-color: var(--primaryColor);
    border-bottom-color: var(--primaryColor);
    color: #222;
    border-radius: 10px 10px 0 0;
}

.new-task-form>.validate-msg {
    position: absolute;
    left: 6px;
    bottom: -20px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.new-task-form>.validate-msg[data-action="error"] {
    color: var(--redColor);
}

.new-task-form>.validate-msg[data-action="success"] {
    color: var(--primaryColor);
}

/* SEARCH BOX */

section.search-box {
    position: relative;
    width: 90%;
    margin: 20px auto 40px;
}

section.search-box input {
    width: 100%;
    font-size: 3rem;
    padding: 5px 50px 1px 10px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #ccc;
    color: #aaa;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    font-family: var(--primaryFont);
}

section.search-box input::-webkit-input-placeholder {
    color: #aaa;
}

section.search-box input:-ms-input-placeholder {
    color: #aaa;
}

section.search-box input::-ms-input-placeholder {
    color: #aaa;
}

section.search-box input::placeholder {
    color: #aaa;
}

section.search-box input:hover,
section.search-box input:focus {
    border-color: #777;
    color: #777;
}

section.search-box input:hover+i.search-icon,
section.search-box input:focus+i.search-icon {
    color: #777;
}

section.search-box input[disabled]:hover {
    border-bottom-color: #ccc;
}

section.search-box input[disabled]:hover+i.search-icon {
    color: #aaa;
}

section.search-box i.search-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    font-size: 3rem;
    color: #aaa;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    pointer-events: none;
}

/* TODO LIST */

ul {
    list-style: none;
    padding-bottom: 40px;
}

ul li {
    background-color: rgba(255, 205, 198, .4);
    color: #222;
    padding: 20px 10px;
    cursor: default;
}

ul li:nth-child(2n) {
    background-color: rgba(255, 174, 158, .4);
}

ul li:hover,
ul li:nth-child(2n):hover {
    background-color: rgba(255, 174, 158, .7);
}

ul li.task-checked {
    background-color: rgba(157, 221, 195, .4);
    border-left: 7px solid rgb(157, 221, 195);
}

ul li.task-checked:nth-child(2n) {
    background-color: rgba(117, 214, 175, 0.4);
}

ul li.task-checked:hover {
    background-color: rgba(157, 221, 195, .7);
}

ul li.task-recently-added,
ul li.task-recently-added:hover {
    background-color: rgba(157, 221, 195, .4);
}

/* SINGLE TASK */

.task {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80px;
}

.task>.task-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 20px 0 10px;
    font-size: 2rem;
}

.task>.task-content>.task-datetime {
    color: var(--primaryColor);
    font-weight: bold;
    word-spacing: 5px;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.task>.task-content>.task-datetime>.task-checked-icon {
    font-size: 1.8rem;
}

.task-description {
    /* border: 1px solid; */
}

.task-description>textarea,
.task-description>button.edit-form-btn {
    background: rgba(255, 255, 255, .3);
    border: 1px solid #777;
    outline: none;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .15);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .15);
    -webkit-transition: background .2s, border .2s;
    -o-transition: background .2s, border .2s;
    transition: background .2s, border .2s;
}

.task-description>textarea {
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    padding: 5px;
    font-family: var(--primaryFont);
    font-size: 2rem;
    display: block;
    resize: vertical;
}

.task-description>button.edit-form-btn {
    margin: 12px 8px 0 0;
    padding: 3px 10px;
    cursor: pointer;
    font-family: var(--secondaryFont);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.task-description>button.edit-form-btn.apply-edit {
    border-left: 7px solid var(--primaryColor);
}

.task-description>button.edit-form-btn.cancel-edit {
    border-left: 7px solid var(--redColor);
}

.task-description>textarea:hover,
.task-description>textarea:focus,
.task-description>button.edit-form-btn:hover {
    background-color: rgba(255, 255, 255, .7);
}

.task-description>button[disabled].edit-form-btn {
    border-left-color: gray;
    background-color: initial;
    cursor: default;
}

.task>.task-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 6%;
    font-size: 2rem;
    padding-left: 10px;
    border-left: 1px dashed rgba(0, 0, 0, .2);
    opacity: 0;
}

ul li:hover>.task>.task-navigation {
    opacity: 1;
}

.task>.task-navigation>i {
    opacity: .7;
    cursor: pointer;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    margin: 5px 0;
}

.task>.task-navigation>i.task-check-btn:hover {
    opacity: 1;
    color: var(--primaryColor);
}

.task>.task-navigation>i.task-edit:hover {
    opacity: 1;
    color: rgb(63, 160, 216);
}

.task>.task-navigation>i.task-delete:hover,
.task>.task-navigation>i.task-uncheck-btn:hover {
    opacity: 1;
    color: var(--redColor);
}

/* EXTRAS */

.no-task {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    display: none;
    color: #222;
}

.tasks-summary {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1.3rem;
    font-weight: bold;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    color: #555;
    border-top: 1px dashed #aaa;
    padding: 10px 0;
    cursor: default;
}

.tasks-summary>div>i {
    font-size: 1.8rem;
    vertical-align: -1px;
    margin-right: 5px;
}

.tasks-summary>div {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.tasks-summary>div:hover {
    color: #222;
}

.no-task.shown,
.tasks-summary.shown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sign {
    display: none;
}

/* LOADER */

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(2);
    -ms-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

/* MEDIA QUERIES */

@media (max-width: 590px) {
    :root {
        font-size: 9px;
    }

    .container {
        width: 100%;
        min-height: 100vh;
        min-width: auto;
        margin: 0 auto;
        overflow-x: hidden;
        border-radius: 0;
    }

    img.drawing-pin {
        top: 4px;
        right: 2px;
    }

    i.new-task {
        left: 10px;
    }

    .new-task-form {
        left: 50px;
        top: 7%;
        right: 13%;
    }

    .new-task-form>input {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-right: 5px;
    }

    .no-task {
        font-size: 2.2rem;
    }

    .tasks-summary {
        position: fixed;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        color: #ccc;
    }

    .tasks-summary>div:hover {
        color: #ccc;
    }

}

@media (max-width: 368px) {
    img.drawing-pin {
        display: none;
    }

    .new-task-form {
        left: 50px;
        top: 7%;
        right: 10px;
    }

    .new-task-form>.validate-msg {
        letter-spacing: unset;
    }
}

@media (min-width: 1070px) {
    .sign {
        display: block;
        position: fixed;
        bottom: 10px;
        font-family: Verdana, sans-serif;
        font-size: 1.1rem;
        cursor: default;
        -webkit-animation: footerEntry 1s 1s both;
        animation: footerEntry 1s 1s both;
    }

    .sign,
    .sign>a {
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
    }

    .sign>a {
        font-weight: bold;
    }

    .sign>a:hover {
        color: #fff;
    }

    @-webkit-keyframes footerEntry {
        from {
            right: -100%;
        }

        to {
            right: 2%
        }
    }

    @keyframes footerEntry {
        from {
            right: -100%;
        }

        to {
            right: 2%
        }
    }
}